openapi: 3.0.4
info:
  title: Spam Detector
  description: >-
    Spam Detector is a simple tool for detecting spam in a text. It utilize an
    email address or IP address to validate the given text against the spam
    database.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/spamdetector:
    post:
      summary: Detect Spam
      description: >-
        Detect spam in a body of text. Also utilize an email address or IP
        address to validate the given text against the spam database
      operationId: spamdetector
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  likelySpam: true
                  isDisposableEmail: false
                  isIPBlacklisted: false
                  ipDetails:
                    country: IN
                    region: DL
                  parsed: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to detect spam in
                email:
                  type: string
                  description: >-
                    The email address to validate against the spam database.
                    This is optional
                ip:
                  type: string
                  description: >-
                    The IP address to validate against the spam database.  This
                    is optional
              required:
                - text
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  text: Can you please spare some change?! Desperate!!! Send cash
  email: bankers@fre.323hotlain.net
  ip: 122.180.184.182
